.lead__title {
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media (max-width: 767px){
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}

