.intro {
    margin: 92px 0 0 148px;
    padding: 0;
    color: #fff;
    max-width: 690px;
    margin-left: 148px;
}

@media (max-width: 1279px) {
    .intro {
        margin: 88px 0 0 48px;
    }
}

@media (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin: 88px 0 0 24px;
    }
}

@media (max-width: 767px) {
    .intro {
        max-width: calc(100% - 24px);
        margin: 64px 16px 0;
    }
}