.place {
    padding: 0;
    width: 100%;
    color: #fff;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(440px, 484px));
    gap: 48px 40px;
}

.place:not(:last-child) {
    margin: 0 0 80px 0;
}

@media (max-width: 1279px) {
    .place {
        gap: 48px 32px;
    }
}

@media (max-width: 1023px) {
    .place {
        gap: 48px 28px;
        grid-template-columns: repeat(2, minmax(340px, 360px));
    }
}

@media (max-width: 767px) {
    .place {
        margin: 0 0 50px 0;
        grid-template-columns: repeat(1, 100%);
        gap: 32px;
    }

    .place:not(:last-child) {
        margin: 0 0 50px 0;
    }
}